在这第三次大作业里 我们将继续修改 我们的 index.html 文件 我们一共需要完成四项任务 现在我就来告诉你这四项任务 的详细内容 进入到你的 index.html 页面 第一个任务就是 把这个按钮上的工具提示去掉 所以当你将鼠标光标移到这个按钮上时
不会再有工具提示出现 这是因为单个 Bootstrap 元素
不能含有多个数据属性 也就是说 如果它含有多个数据属性的话 其中的任何一个都不会被调用 这就是为什么我们要将工具提示去掉 因为接下来我们将用这个按钮 来调用出一个含有预约表格的模态框 而将我们之前实现过的位于
页面第四行的预约表格 移植进一个模态框 就是我们的第二个任务 那么如图所示 就是一个含有
预约表格的模态框 可以看到警告信息也被挪入了这个模态框 现在 我们需要用在超大屏幕中实现过的按钮 来调用这个模态框 而这就是我们的第三个任务 那么再重复一遍 第三个任务 就是用那个 Reserve Table 按钮来调用这个模态框 至于最后一个任务 就是在这里加入另一行 在这一行里 我们需要加入两个单选按钮 它们将允许用户选择预约餐厅中的 吸烟区还是非吸烟区 那么 这将是一个单选按钮组 而且默认是选择非吸烟区 你要允许用户选择且仅选择其中一个选项 所以当其中一个按钮被选中时
另一个需要取消其被选中状态 这一行的标签是 Section 然后非吸烟区按钮的颜色需要是绿色的 吸烟区的则需要是红色的 建议灵活运用 Bootstrap 的自带颜色来实现它 以上 就是第三次大作业的全部内容
【翻译 - Carefree0910】