在这个大作业里 你将会去探索 用 JavaScript 方法去控制模态框的方法 在早些时候当我们实现这些模态框时
我们用的是数据属性 来激发和显示或者隐藏这些模态框 现在我们可以用 JavaScript 方法来替代数据属性 并实现显示或者隐藏这些模态框 那么如图所示
当我们点击右上角那个 Login 按钮时 你将会看到一个登陆模态框 类似的 当你单击 Reserve 按钮时 你将会看到一个预约表格模态框 注意 这些都是用 JavaScript 方法实现的 而不是通过数据属性来实现 所以在这个大作业里
你需要移除掉你之前实现过的 那些数据属性并用 JavaScript 方法替代它们
【翻译 - Carefree0910】