Let's talk about your first assignment. In this assignment, we will give you
a preformatted aboutus.html page. You're going to add this page to
the website that you have been working on so far. You will configure all
the links appropriately so that the page gets integrated
into your website. In addition, you're going to format
the information within this website. Also, you will learn how
to add breadcrumbs to the web page, the aboutus.html
page that we provide for you. To get you started, we will give you
an aboutus.html page that looks like this. As you can see, the aboutus.html page is already
preformatted with some information. At the end of this assignment,
you're going to take this web page and turn it into this web page. The first task in this
assignment is to set up the links in the navbar appropriately. So, you see that we are identifying the
about page correctly in the navbar, and in addition, when I click on either
the name of the restaurant or the brand, or the Home button, I should
be able to return to my index.html page. So clicking on any one of them will
take me back to the index.html page that you have already
developed in the exercises. The second part of the task one is to
add the glyph icon to the About page. The second task involves configuring
the breadcrumbs for the aboutus.html page. We are going to make use
of Bootstrap support for breadcrumbs to design this part. In this breadcrumbs, the hierarchy of
the page should be properly identified. In addition,
the Home link should be activated so that when I click on it I will be
able to go back to the Home page. The final task of this
assignment is to complete the formatting of the contents
of this web page. So we should be using the container row,
and column classes appropriately, so that the entire content of this web
page is enclosed inside a container, including the bread crumbs. And appropriate rule classes
are applied to the content, and column classes
are applied to the content. So that the page now will look like this
at the completion of this assignment.