我们第二个大作业涵盖了许多 对你上个练习中得到的 index.html 的更改 在这个页面中 你需要加入一些字体 一些按钮 一个多媒体对象和一个标签 index.html 当前的状态是是这样的 然后你需要完成 4 项任务 第一个任务 在导航栏中实现一个表 在这个表里面 用户将会输入 它们的注册信息以登录进我们的网站 当然你只需要将这个表的前端实现 而不用去实现后端的登录功能 表的内容应当如图所示 你可能需要更好地理解 Bootstrap 之后 才能实现一个像这样的表 第二项任务 是在这里实现一个按钮 这个按钮应该放在一个单独的 div 里面 注意到它应该占据完 这一行剩下的空间 同时在你点击这个按钮时
它会导航至一个表格 这个表格使用来向餐厅预约的 当你点击这个按钮
它会将页面导航至页面底部 的一个表格处 然后这个表格将会是你网页的另一个 row-content 这个表格将会包含什么信息呢？ 它将会包含用户需要向餐厅提交的 用来预约的所有信息 我们需要做的 首先是一串单选按钮 它们将提供预约人数的信息 然后是两个
分别提供预约日期和时间的输入框 注意到在这两个输入框中 我们会有两个 glyphicons 小图标来让它更好看 关于怎么实现 需要看 Bootstrap 的文档 当然 你还需要一个按钮 来提交这些信息 当然 你不用实现这个表格的后端
不过在这个大作业的最后 你需要把这些前端的东西都实现了 你还需要在这里显示一个警告 这个警告还含有一个链接 和一个小叉叉来关掉它 如果你不知道怎么实现 就看一看之前的视频
或者参考一下文档吧 这里还需要你用上字体 我们最后的任务是在网页的第二行 实现一个多媒体对象 我们已经在第一和第三行实现了多媒体对象 但我们当时没做第二行 我说过这将是第二次大作业的任务
希望你们还记得 这里我用了多媒体对象 需要特别注意的我将图片放在了右边 而不是那些文本内容的左边 我们还需要实现一个标签 标签中的文本应该是 New 以上 我们说完了第二次大作业的要求 那么当你完成了这次大作业后
你的网页应该长这样 首先 需要有一个表来让用户完成登录 第二 这里应该有一个按钮 而且当你点击它时 它会将用户导航到一个预约表格 第三 这个预约表格应该在网页的最底部 它将会有一串单选按钮和两个输入
日期 时间的输入框 同时这里还需要有一个警告 一个可以关掉的警告 而第二步骤在完成5分钟的工作后就停止了 你需要将第二行的对媒体对象设置好 这里用的图片已经在你早些时候下载的 img 文件夹里面提供了 这张图的名字叫 buffet.png 最后就是 这里需要有一个标签
【翻译 - Carefree0910】